
*.metadata
*.rdf
*.pper
*.Rdata
*.error
*.csv
*.json
.Rproj.user/
.Rproj.user\
/.Rproj.user
\.Rproj.user
.Rproj.user/F66EFD4E/sources/s-4183CFAF/15A88F89
.Rproj.user/F66EFD4E/sources/prop/8D0C394B
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/D6FDD17A-kyle/1/F66EFD4E4183CFAF/chunks.json
.Rproj.user/F66EFD4E/sources/s-4183CFAF/15A88F89-contents
.Rproj.user/F66EFD4E/sources/s-4183CFAF/15A88F89
.Rproj.user/F66EFD4E/sources/prop/8D0C394B
