
*.metadata
*.rdf
*.pper
*.Rdata
*.error
*.csv
*.json
.Rproj.user/
.Rproj.user\
/.Rproj.user
\.Rproj.user
.Rproj.user/F66EFD4E/sources/s-4183CFAF/15A88F89
.Rproj.user/F66EFD4E/sources/prop/8D0C394B
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/D6FDD17A-kyle/1/F66EFD4E4183CFAF/chunks.json
.Rproj.user/F66EFD4E/sources/s-4183CFAF/15A88F89-contents
.Rproj.user/F66EFD4E/sources/s-4183CFAF/15A88F89
.Rproj.user/F66EFD4E/sources/prop/8D0C394B
.Rproj.user/F66EFD4E/sources/prop/8D0C394B
.Rproj.user/F66EFD4E/sources/s-4183CFAF/15A88F89
.Rproj.user/F66EFD4E/sources/s-4183CFAF/15A88F89-contents
.Rproj.user/shared/notebooks/D6FDD17A-kyle/1/F66EFD4E4183CFAF/c3b4diwgyy0iq/000018.csv
.Rproj.user/shared/notebooks/D6FDD17A-kyle/1/F66EFD4E4183CFAF/c3b4diwgyy0iq/000019.error
.Rproj.user/shared/notebooks/D6FDD17A-kyle/1/F66EFD4E4183CFAF/cci7vnapkngby/000002.csv
.Rproj.user/shared/notebooks/D6FDD17A-kyle/1/F66EFD4E4183CFAF/chunks.json
.Rproj.user/shared/notebooks/D6FDD17A-kyle/1/s/c3b4diwgyy0iq/000002.csv
.Rproj.user/shared/notebooks/D6FDD17A-kyle/1/s/cbey43w1vmpsi/000002.csv
.Rproj.user/shared/notebooks/D6FDD17A-kyle/1/s/chunks.json
.Rproj.user/shared/notebooks/D6FDD17A-kyle/1/s/civp85saeqf25/000002.csv
.Rproj.user/shared/notebooks/paths
